$mine-shaft-color: #202020;
$mine: #333;
$main-color: #4c5866;
$tundora-color: #4a4a4a;
$dove-gray-color: #666;
$dusty-gray: #999;
$silver-color: #cacaca;
$mercury: #e9e9e9;
$burning-orange-color: #ff6e30;



$active-color: #4946b4;
$border-color: #ddd;
$text-color: #85859b;
$accent-color: #7875fe;
$bg-color: #ebebeb;

$roboto: 'Roboto', Arial, sans-serif;
$ttf: 'TTFirsNeue', Arial, sans-serif;
