html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular.woff2'),
        url('../fonts/RobotoRegular.woff');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMedium.woff2'),
        url('../fonts/RobotoMedium.woff');
    font-display: swap;
    font-weight: 500;
}

:root {
    --main-color: #4c5866;
    --border-color: #ddd;
    --text-color: #85859b;
    --accent-color: #7875fe;
    --bg-color: #ebebeb;
    --dove-gray-color: #666;
    --silver-color: #cacaca;
    --mine-shaft-color: #202020;
    --active-color: #4946b4;
    --tundora-color: #4a4a4a;
    --burning-orange-color: #ff6e30;

}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header__menu,
.main__about,
.main__master,
footer {
    background-color: var(--mine-shaft-color);
}

.container {
    width: 1290px;
    margin: 0 auto;
}
.main {
}
.header__menu {
    color: #fff;
}
.header__contacts {
    background-color: var(--tundora-color);
}
.main__preview {
}
.logo.header__logo {
}
.social {
}
.header__nav {
}
.header__social {
}
.header__tel {
    color: var(--burning-orange-color);
}
.header__search {
}


.main__about {
    color: var(--silver-color);
}
.main__examples {
}
.reg {
}
.ad {
}
