@charset "UTF-8";
.swiper__article-text {
  display: inline-block;
  padding-top: 16px;
  line-height: 22px;
  text-overflow: ellipsis;
}
.swiper__article-text:link {
  color: #202020;
}
.swiper__article-text:visited {
  color: #ce4307;
}
.swiper__article-text:hover {
  color: #ff6e30;
}
.swiper__article-text:active {
  background-color: #ffd4c1;
  color: #202020;
}
.swiper__article {
  position: relative;
}
.swiper-tag {
  top: 7px;
  right: 10px;
}
.swiper__article-date {
  width: 14px;
  height: 14px;
  padding-left: 15px;
  font-size: 12px;
  background-image: url("../img/calendar-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}
.swiper__date {
  padding-left: 16px;
  font-size: 12px;
  background-image: url("../img/calendar-white.svg");
  background-repeat: no-repeat;
}
.swiper__caption {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 285.5px;
  color: #fff;
}
.swiper__caption-title {
  padding-bottom: 4px;
  margin-top: 7px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.swiper__caption-text {
  line-height: 22px;
}
.swiper__caption-link {
  position: absolute;
  left: 32px;
  padding: 12px 17px;
  font-weight: 700;
  color: #fff;
}
.swiper__caption-link:link {
  border: 3px solid #ff6e30;
}
.swiper__caption-link:visited {
  background-color: #ce4307;
  border-color: #ce4307;
}
.swiper__caption-link:hover {
  background-color: #ff6e30;
}
.swiper__caption-link:active {
  background-color: #bc572b;
  border-color: #ff6e30;
}
.swiper__caption-link1 {
  bottom: 26px;
}
.swiper__caption-link2 {
  bottom: 28px;
}
.swiper__caption-link3 {
  bottom: 29px;
}
.swiper__caption-link4 {
  bottom: 49px;
}
.swiper-services {
  display: flex;
}

.slide-first {
  height: 634px;
}

.mySwiper {
  width: 100%;
  height: 716px;
}
.mySwiper .swiper-pagination-bullet {
  bottom: 4px;
  width: 30px;
  height: 30px;
  margin: 0 15px !important;
  border-radius: 0;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #000;
  opacity: 1;
  background: #c4c4c4;
}
.mySwiper .swiper-pagination-bullet:hover {
  background: #bc572b;
  color: #fff;
}
.mySwiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #ff6e30;
}
.mySwiper .swiper-pagination-bullets {
  bottom: 4px !important;
}

.secondSwiper {
  margin-left: 0;
  padding-top: 74px;
  text-align: left !important;
}
.secondSwiper .swiper-pagination {
  top: 16px;
  width: 412px;
  height: 50px;
  text-align: left !important;
}
.secondSwiper .swiper-scrollbar {
  top: 40px;
  left: 0;
  width: 47%;
}
.secondSwiper .swiper-pagination-bullet-active {
  color: #ff6e30 !important;
}
.secondSwiper .swiper-pagination-bullet {
  width: auto !important;
  padding-left: 0;
  background: none;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  opacity: 1;
}
.secondSwiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.secondSwiper .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1) {
  margin-right: 136px !important;
}
.secondSwiper .swiper-scrollbar-drag {
  background: #ff6e30 !important;
}

.article1, .article2, .article3 {
  width: 191px;
  height: 295px;
}
.article1 {
  grid-area: art1;
}
.article2 {
  grid-area: art2;
}
.article3 {
  grid-area: art3;
}
.article4 {
  grid-area: art4;
}
.article5 {
  grid-area: art5;
}
.article6 {
  grid-area: art6;
}
.article7 {
  grid-area: art7;
}

.content {
  display: grid;
  grid-template-areas: "art1 art2 art3 art5 art5" "art4 art4 art4 art6 art7";
  grid-template-columns: 1fr 1fr 1fr 300px 300px;
  grid-template-rows: 46.5% 47%;
  grid-auto-flow: row;
  gap: 30px;
}
.content1 {
  grid-template-areas: "art4 art4 art4 art6 art7" "art1 art2 art3 art5 art5";
  grid-template-columns: 1fr 1fr 1fr 300px 300px;
  grid-template-rows: 46.5% 50%;
}
.content3 {
  display: grid;
  grid-template-areas: "lead1 lead6" "lead2 lead7" "lead3 lead8" "lead4 lead9" "lead5 lead10";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 140px);
  grid-auto-flow: row;
  gap: 25px;
}

.content2,
.content3 {
  width: 53.127rem;
}

.content2 .lead {
  padding-bottom: 25px;
}

.text1 {
  padding-bottom: 8px;
}
.text2 {
  padding-bottom: 16px;
}

.lead {
  display: flex;
}
.lead__wrap {
  padding-top: 15px;
  padding-left: 28px;
}
.lead__title {
  padding-bottom: 5px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.lead__text {
  padding-bottom: 19px;
  color: #999;
  line-height: 22px;
}
.lead__link {
  width: 88px;
  padding: 7.64px 22px 7.64px 0;
  font-weight: 700;
  color: #ff6e30;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
.lead__link:visited {
  color: #ce4307;
}
.lead__link:active {
  background-color: #ffd4c1;
}
.lead__excerpt {
  margin-bottom: 10px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 24px;
}
.lead1 {
  grid-area: lead1;
}
.lead2 {
  grid-area: lead2;
}
.lead3 {
  grid-area: lead3;
}
.lead4 {
  grid-area: lead4;
}
.lead5 {
  grid-area: lead5;
}

.aside__title {
  padding-bottom: 12px;
}

.ad {
  position: relative;
  margin-bottom: 30px;
}
.ad__descr {
  position: absolute;
  top: 20px;
  left: 30px;
}
.ad__descript {
  position: absolute;
  left: 30px;
  bottom: 49px;
  width: 218px;
}
.ad__text {
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff500;
}
.ad__text-sub {
  font-weight: 700;
  color: #fff500;
}
.ad__text-1 {
  padding-bottom: 27px;
  color: #fff;
}
.ad__img-discount {
  padding-bottom: 9px;
}

.swiper__custom {
  color: #666;
  font-weight: 700;
  padding-left: 0;
}

.swiper__custom:nth-child(2) {
  padding-left: 110px;
}

.wrap-box {
  display: flex;
  flex-wrap: nowrap;
}

.left-block {
  width: 67%;
}

.works {
  transition: margin-right 3s ease-in-out;
}

@media (max-width: 1025px) {
  p {
    text-overflow: ellipsis;
  }
  .container {
    width: 94vw;
  }
  .header__logo {
    margin-right: -8%;
  }
  .header__logo img {
    width: 166px;
    height: 26.79px;
  }
  .main__preview {
    grid-template-areas: "block title title" "block first second";
    grid-template-columns: calc(50% - 30px) repeat(2, calc(25% - 15px));
    grid-template-rows: 401px 186px;
    height: 100%;
  }
  .main__img {
    width: 100%;
    height: 616px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__box {
    width: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 332px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__img2, .main__img3 {
    width: 218px;
    height: 186px;
  }
  .main__figcaption {
    left: 28px;
  }
  .main__title {
    width: 466px;
  }
  .main__title-mc {
    font-size: 34px;
  }
  .main__image {
    width: 466px;
    height: 395px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__fieldset {
    margin-right: 30px;
  }
  .main__input {
    width: 342px;
    margin-bottom: 20px;
  }
  .main__contacts_filling img {
    width: 590px;
  }
  .main__master_block {
    grid-template-areas: "img mc" "block block";
    grid-template-columns: 1fr;
    grid-template-rows: 65% 30%;
  }
  .main__master_block img {
    grid-area: img;
  }
  .main__art-mc {
    grid-area: mc;
  }
  .main__master-art img {
    width: 93px;
    height: 66px;
  }
  .main__master_block2 {
    display: grid;
    grid-area: block;
    grid-template-areas: "ar1 ar3" "ar2 ar4";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main__master-art:nth-child(1) {
    grid-area: ar1;
  }
  .main__master-art:nth-child(2) {
    grid-area: ar2;
  }
  .main__master-art:nth-child(3) {
    grid-area: ar3;
  }
  .main__master-art:nth-child(4) {
    grid-area: ar4;
  }
  .content {
    grid-template-areas: "art1 art2 art3 art5" "art4 art4 art4 art6";
    grid-template-columns: 1fr 1fr 1fr 300px 250px;
    grid-template-rows: 46.5% 47%;
  }
  .content .article7 {
    display: none;
  }
  .content .article5 .swiper__article-img {
    -o-object-position: 53%;
       object-position: 53%;
  }
  .content .article5 .hashtag {
    right: 10px;
  }
  .content .swiper__caption {
    width: 80%;
  }
  .content1 {
    grid-template-areas: "art4 art4 art4 art6 art7" "art1 art2 art3 art5 art5";
    grid-template-columns: 1fr 1fr 1fr 300px 300px;
    grid-template-rows: 46.5% 50%;
  }
  .content1 .article5 .swiper__article-img {
    -o-object-position: 80%;
       object-position: 80%;
  }
  .content1 .article5 .hashtag {
    right: 339px;
  }
  .content1 .swiper__caption {
    width: 41%;
  }
  .content2 {
    width: 56.127rem;
  }
  .content2 img {
    width: 218px;
    height: 184px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content2 .lead__wrap {
    padding-top: 27px;
    padding-right: 28px;
  }
  .content2 .lead__text {
    padding-bottom: 10px;
  }
  .content3 {
    width: 36.127rem;
    row-gap: 9%;
  }
  .content3 .lead {
    flex-direction: column;
  }
  .content3 .lead img {
    width: 238px;
    height: 110px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content3 .lead__wrap {
    padding-left: 0;
  }
  .swiper__caption-link {
    padding: 5px 17px;
  }
  .swiper__caption-title {
    font-size: 20px;
  }
  .article5 .swiper__article-img {
    width: 300px;
    height: 295px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ad__img {
    width: 342px;
    height: 490px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .secondSwiper .swiper-scrollbar {
    width: 64%;
  }
  .works {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .scale {
    width: 90px;
  }
  .lead__excerpt {
    width: 100%;
    font-size: 18px;
    margin-bottom: 3px;
  }
  .label {
    top: 95px;
    right: 94px;
  }
  .info {
    padding-left: 5%;
  }
  .overlay {
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 0;
    bottom: 0;
    margin-bottom: 0;
    transition: height 0.7s linear;
  }
  footer figcaption {
    padding-left: 11%;
  }
}
@media (max-width: 769px) {
  .container {
    width: 93vw;
  }
  .header__social, .menu .header__nav, .contacts .header__tel, .contacts .header__form, .contacts .header__btn {
    display: none;
  }
  .header__list {
    padding: 16px 0;
  }
  .header__btn {
    background-position: bottom;
  }
  .header__form {
    width: 0;
    margin-bottom: 0;
    transform: translateX(-1px);
    transform-origin: right;
    transition: width 0.3s ease-in-out;
  }
  .header__form .close {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scale(0.7);
    display: block;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  .menu {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main__preview {
    grid-template-columns: calc(50% - 24px) repeat(2, calc(25% - 12px));
    grid-template-rows: 291px 133px;
    gap: 24px;
  }
  .main__figcaption {
    top: 50%;
  }
  .main__figcaption p {
    padding-bottom: 10px;
  }
  .main__img {
    width: 100%;
    height: 452px;
  }
  .main__box {
    width: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 228px;
  }
  .main__img2, .main__img3 {
    width: 100%;
    height: 133px;
  }
  .main__title {
    width: 381px;
    font-size: 22px;
    bottom: 17px;
  }
  .main__title-mc {
    width: 239px;
  }
  .main__image {
    width: 342px;
    height: 626px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__art-mc p {
    padding-bottom: 50px;
  }
  .main__master-art {
    width: 340px;
  }
  .main__master_block {
    grid-template-rows: 59% 30%;
  }
  .main__contacts .main__form {
    width: 466px;
    height: 445px;
  }
  .main__contacts .main__form fieldset {
    padding-left: 0;
  }
  .mySwiper {
    height: 100%;
  }
  .mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    font-size: 0;
  }
  .content {
    grid-template-areas: "art1 art2 art3" "art5 art5 art5" "art6 art6 art7" "art4 art4 art4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 300px);
  }
  .content .article7 {
    display: block;
  }
  .content .article5 .hashtag {
    right: 10px;
  }
  .content .article5 .swiper__caption {
    width: 27%;
  }
  .content .article4 .swiper__caption {
    width: 50%;
  }
  .article6 .swiper__article-img {
    width: 470px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article7 .swiper__article-img {
    width: 218px;
    height: 156px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content1 .article5 .swiper__caption {
    width: 50%;
  }
  .content1 .article7 .swiper__article-img {
    height: 131px;
  }
  .article {
    position: relative;
  }
  .article4 .swiper__article-img, .article5 .swiper__article-img {
    width: 100%;
  }
  .article1, .article2, .article3, .article1 .swiper__article-img, .article2 .swiper__article-img, .article3 .swiper__article-img {
    width: 218px;
    height: 184px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article1, .article2, .article3 {
    height: 300px;
  }
  .swiper__article-date {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .secondSwiper .swiper-scrollbar {
    width: 57%;
  }
  .ad {
    margin-bottom: 17px;
  }
  .ad__img {
    width: 100%;
    height: 336px;
    -o-object-position: 0 35%;
       object-position: 0 35%;
  }
  .works {
    grid-template-columns: repeat(6, 1fr);
  }
  .main__contacts_filling,
.container-serv {
    flex-direction: column;
  }
  aside {
    margin-bottom: 40px;
  }
  .left-block {
    width: 100%;
  }
  .content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content2 img {
    width: 343px;
    height: 184px;
  }
  .content2 .lead__wrap {
    padding: 10px 0 1px;
  }
  .content3 {
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
  }
  .content3 .lead img {
    width: 342px;
    height: 130px;
  }
  .content3 .lead__excerpt {
    font-size: 19px;
  }
  .lead {
    width: 343px;
    height: auto;
    padding-bottom: 0;
    flex-wrap: wrap;
  }
  .cam {
    width: 332px;
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .map {
    width: 90vw;
    height: 460px;
    margin-bottom: 24px;
  }
  .overlay {
    max-width: 590px;
  }
  .label {
    right: 31%;
  }
  footer .container {
    height: 106px;
  }
  footer figure {
    position: fixed;
    transform: scale(0);
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 90vw;
  }
  header {
    position: relative;
  }
  .header__logo {
    height: 16.45px;
  }
  .header__logo img {
    width: 86.34px;
    height: 16.45px;
  }
  .header__list {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 48px;
  }
  .header__list li {
    padding-bottom: 30px;
  }
  .header__btn {
    width: 20px;
    height: 24.41px;
    transform: scale(0.8);
    background-position: bottom;
  }
  .header__search::-moz-placeholder {
    font-size: 12px;
  }
  .header__search:-ms-input-placeholder {
    font-size: 12px;
  }
  .header__search::placeholder {
    font-size: 12px;
  }
  .header__nav .close {
    display: block;
    transform: scale(0.7);
    z-index: 100;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  .header__nav {
    position: absolute;
    top: 119px;
    left: 0;
    display: none;
    width: 100%;
    height: 541px;
    color: #fff;
    background-color: #202020;
    z-index: 100;
  }
  .header__contacts {
    height: 45px;
  }
  .contacts .header__tel {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  .menu {
    align-items: center;
  }
  .burger {
    display: block;
    width: 20px;
    height: 18px;
    background-image: url("/src/img/burger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }
  .contacts {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .contacts .contacts-wrap {
    display: none;
  }
  .main__preview {
    grid-template-columns: repeat(2, calc(45vw - 15px));
    grid-template-rows: 112.5vw 1fr calc((45vw - 15px) / 1.17);
    grid-template-areas: "block block" "title title" "first second";
    gap: 30px;
  }
  .main__link {
    padding: 12px 22px;
  }
  .main__title-mc {
    font-size: 24px;
  }
  .main__figcaption {
    top: calc(61.875vw - 20px);
  }
  .main__img {
    width: 100%;
    height: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 42.8571428571vw;
  }
  .main__img2, .main__img3 {
    height: calc((45vw - 15px) / 1.17);
  }
  .main__box {
    width: 90vw;
  }
  .main__title {
    width: 100%;
    font-size: 18px;
  }
  .main__parag {
    font-style: 14px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .main__about_container {
    flex-wrap: wrap;
  }
  .main__legend {
    font-size: 18px;
  }
  .main__input {
    width: 100%;
    margin: 10px auto;
    font-size: 14px;
  }
  .main__fieldset {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .main__hashtag {
    top: 15px;
    right: 9px;
  }
  .main__image {
    width: 100%;
    height: auto;
  }
  .main__about_container .inner:first-child, .main__about_container .inner:last-child {
    width: 100%;
    margin-right: 0;
  }
  .main__master_block {
    grid-template-areas: "img" "mc" "block";
    grid-template-columns: 100%;
  }
  .main__contacts_filling img {
    width: 90vw;
  }
  .main__contacts .main__form {
    width: 100%;
  }
  .main__master_block2 {
    grid-template-areas: "ar1" "ar3" "ar2" "ar4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .main__master_block {
    grid-template-rows: auto auto;
    gap: 16px;
  }
  .main__master h3 {
    font-size: 18px;
  }
  .main__art-mc {
    padding-top: 0;
    padding-bottom: 45px;
  }
  .main__art-mc p {
    padding-bottom: 22px;
  }
  .main__master-art img {
    width: 94px;
    height: 71px;
  }
  .main__master-art h4 {
    width: 85%;
  }
  .secondSwiper .swiper-pagination-bullet {
    width: 284px;
    font-size: 14px;
    font-weight: 700;
  }
  .secondSwiper .swiper-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .secondSwiper .swiper-scrollbar {
    display: none;
  }
  .secondSwiper .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1) {
    margin-right: 23px !important;
  }
  .swiper-tag, .content .article5 .hashtag {
    right: 3%;
  }
  .article1, .article2,
.article3, .article1 .swiper__article-img,
.article2 .swiper__article-img,
.article3 .swiper__article-img,
.article6 .swiper__article-img,
.article7 .swiper__article-img {
    width: 90vw;
  }
  .swiper__article-img {
    height: 135vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article6 .swiper__article-img,
.content1 .article7 .swiper__article-img {
    height: 184px;
  }
  h2 {
    font-size: 18px;
  }
  .parag-mc,
.main__link {
    font-size: 14px;
  }
  .hashtag {
    font-size: 0.75rem;
  }
  .inner img {
    padding-top: 45px;
  }
  .content {
    grid-template-areas: "art1" "art2" "art3" "art5" "art6" "art7" "art4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 273px) 422px repeat(2, 295px) 422px;
  }
  .content .article5 .swiper__caption {
    width: 60%;
  }
  .content1 .article5 .swiper__caption, .content1 .article4 .swiper__caption {
    width: 72%;
  }
  .content2 img, .content3 .lead img {
    width: 279px;
  }
  .content3 {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "lead1" "lead2" "lead3" "lead4" "lead5" "lead6" "lead7" "lead8" "lead9" "lead10";
  }
  .content3 .lead__excerpt {
    font-size: 16px;
  }
  .content3 .lead img {
    height: 102px;
  }
  .swiper__caption, .content1 .swiper__caption {
    top: 47%;
  }
  .swiper__caption-link4 {
    bottom: 35px;
  }
  .article1, .article2, .article3 {
    width: 100%;
    height: 273px;
  }
  .article4 .swiper__article-img, .content .article5 .swiper__article-img {
    height: 100%;
    -o-object-position: 62%;
       object-position: 62%;
  }
  .lead {
    width: 100%;
  }
  .lead__title {
    font-size: 16px;
  }
  .lead__text {
    font-size: 14px;
  }
  .lead__wrap {
    width: 100%;
  }
  .ad__img {
    width: 278px;
    height: 422px;
    -o-object-position: center;
       object-position: center;
  }
  .ad__img-discount {
    top: -322%;
  }
  .ad__text {
    font-size: 30px;
  }
  .ad__subtext {
    font-size: 14px;
  }
  .ad__img-discount {
    position: absolute;
    top: -385%;
    right: -21px;
    transform: scale(0.7);
  }
  .scale {
    width: 124px;
    height: 94px;
  }
  .works {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .cam {
    width: 278px;
    height: 268px;
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .label {
    top: 20%;
    right: 20%;
  }
  .overlay {
    justify-content: center;
    padding: 0 10px;
  }
  .info {
    width: 100%;
  }
  .info h3, .info p {
    padding-bottom: 10px;
  }
  .info h3 {
    padding-top: 0;
    font-size: 18px;
  }
  .info p {
    font-size: 14px;
    line-height: 18px;
  }
  footer {
    height: 185px;
    background-color: transparent;
  }
  footer .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "second" "first";
    width: 100%;
  }
  .logo-block {
    grid-area: first;
    height: 62px;
    background-color: #4a4a4a;
  }
  .logo-block a {
    width: 100%;
  }
  .logo-block p, .logo-block a {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }
  .social-block {
    grid-area: second;
    height: 123px;
    padding: 31px 80px;
    background-color: #202020;
  }
  .social-block p {
    text-align: center;
  }
}
@media (max-width: 387px) and (min-width: 340px) {
  .main__contacts_filling img,
.main .overlay {
    width: 100%;
  }
  #name + .label_input,
#email + .label_input {
    left: 21px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a, button {
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #202020;
}

.unvisible {
  position: fixed;
  transform: scale(0);
}

header,
main,
footer {
  width: 100%;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   not supported by any browser */
}

.flex-box {
  display: flex;
  flex-flow: column;
}

.container {
  width: 1290px;
  margin: 0 auto;
}
.container-serv {
  position: relative;
  display: flex;
}

h2 {
  margin: 0;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  margin: 0;
}

.link-orange {
  padding: 15.5px 22px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #ff6e30;
}

.header__menu,
.main__about,
.main__master,
footer {
  background-color: #202020;
}

.hashtag {
  position: absolute;
  z-index: 1;
  padding: 7px 14px;
  font-size: 14px;
  color: #fff;
  background-color: #333;
}

.scale {
  transition: 1s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

.header__container {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  color: #fff;
}
.header__logo {
  display: inline-block;
  width: 190.25px;
  height: 30.7px;
  margin-right: 3%;
}
.header__nav {
  display: inline-block;
  width: 57%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: "TTFirsNeue", Arial, sans-serif;
}
.header__link {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.header__link:not(:last-child) {
  margin-right: 16px;
}
.header__item_link {
  color: #fff;
}
.header__item_link:visited {
  color: #ce4307;
}
.header__item_link:hover {
  color: #ff6e30;
}
.header__item_link:active {
  background-color: #bc572b;
  color: #fff;
}
.header__contacts {
  margin-bottom: 33px;
  background-color: #4a4a4a;
}
.header__tel {
  display: inline-block;
  padding-top: 12px;
  padding-left: 23px;
  padding-bottom: 12px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-weight: 700;
  color: #ff6e30;
  background-image: url("../img/mdi_call.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}
.header__form {
  position: relative;
  display: flex;
  width: 194px;
  margin-bottom: 13px;
  padding-top: 4px;
  border-bottom: 1px solid #e9e9e9;
}
.header__search {
  display: inline-block;
  width: 100%;
  color: #e9e9e9;
  background: transparent;
  border: none;
}
.header__search::-moz-placeholder {
  color: #e9e9e9;
}
.header__search:-ms-input-placeholder {
  color: #e9e9e9;
}
.header__search::placeholder {
  color: #e9e9e9;
}
.header__search:focus {
  outline: none;
}
.header__search:active, .header__search:target, .header__search:hover, .header__search:focus {
  border-bottom-color: #ff6e30;
}
.header__btn {
  display: inline-block;
  width: 24px;
  height: 29.41px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.header__label {
  position: absolute;
  left: 25px;
  top: 12px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 14px;
  color: #e9e9e9;
}

.burger {
  display: none;
}

.contacts-wrap.flex-box {
  flex-direction: row;
}

.ok, .vk {
  background-repeat: no-repeat;
}
.ok:hover svg path, .vk:hover svg path {
  fill: #ff6e30;
}
.ok:active svg path, .vk:active svg path {
  fill: #bc572b;
}

.menu {
  padding-top: 24px;
  padding-bottom: 25px;
}

.main__about {
  margin-top: 41px;
  margin-bottom: 39px;
  color: #cacaca;
}
.main__preview {
  display: grid;
  grid-template-areas: "block title title" "block first second";
  grid-template-columns: 1fr 300px 300px;
  grid-template-rows: 350px 257px;
  grid-auto-flow: row;
  gap: 30px;
  height: 634px;
}
.main__title-black {
  color: #fff;
}
.main__figure {
  position: relative;
  margin: 0;
  padding-top: 5px;
  grid-area: block;
}
.main__hashtag {
  top: 23px;
  right: 19px;
}
.main__figcaption {
  position: absolute;
  top: 65%;
  left: 59px;
  z-index: 1;
  color: #fff;
}
.main__parag-mc {
  margin-bottom: 3px;
}
.main__title-mc {
  width: 427px;
  margin-bottom: 12px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.main__box {
  grid-area: title;
}
.main__title {
  padding-bottom: 20px;
}
.main__link {
  display: inline-block;
  padding: 12.5px 19px;
  font-weight: 700;
  background-color: #ff6e30;
}
.main__img1 {
  display: flex;
  flex-wrap: wrap;
}
.main__img2 {
  grid-area: first;
}
.main__img3 {
  grid-area: second;
}
.main__about_container {
  display: flex;
}
.main__about_container .inner:first-child {
  margin-right: 30px;
}
.main__parag {
  margin-top: 9px;
  margin-bottom: 72px;
  line-height: 28px;
}
.main__fieldset {
  position: relative;
  padding: 0;
  border: none;
}
.main__legend {
  padding-top: 20px;
  padding-bottom: 13px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 24px;
}
.main__input {
  width: 474px;
  height: 50px;
  margin-right: 25px;
  padding-left: 17px;
  color: #cacaca;
  background-color: #4a4a4a;
  border: none;
}
.main__input:focus, .main__form_input:focus {
  outline: 1px solid #ff6e30;
}
.main__input:hover::-moz-placeholder, .main__form_input:hover::-moz-placeholder {
  color: #ff6e30;
}
.main__input:hover:-ms-input-placeholder, .main__form_input:hover:-ms-input-placeholder {
  color: #ff6e30;
}
.main__input:hover::placeholder, .main__form_input:hover::placeholder {
  color: #ff6e30;
}
.main__input:out-of-range, .main__form_input:out-of-range {
  outline: 1px solid #ff3030;
}
.main__btn {
  padding: 11.2px 13px;
  font-weight: 700;
  color: #fff;
  background-color: #ff6e30;
  border: none;
}
.main__link, .main__btn {
  border: 3px solid transparent;
}
.main__link:hover, .main__btn:hover {
  background-color: #bc572b;
}
.main__link:active, .main__btn:active {
  background-color: #ff6e30;
  border: 3px solid #ce4307;
}
.main__link:disabled, .main__btn:disabled {
  cursor: not-allowed;
}
.main__title-swipe {
  margin-bottom: 16px;
}
.main__projects {
  padding-bottom: 39px;
}
.main__services {
  margin-bottom: 13px;
}
.main__art-mc {
  padding-top: 16px;
}
.main__art-mc p {
  padding-bottom: 63px;
  line-height: 28px;
  color: #cacaca;
}
.main__master {
  color: #fff;
}
.main__master h2 {
  padding-top: 40px;
  padding-bottom: 15px;
}
.main__master h3 {
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-size: 24px;
}
.main__master_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 45px;
}
.main__master_block2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.main__time-date, .main__time-clock {
  width: 14px;
  height: 14px;
  padding-left: 16px;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.main__time-date {
  padding-right: 18px;
  background-image: url("../img/calendar-white.svg");
}
.main__time-clock {
  background-image: url("../img/clock.svg");
}
.main__time-block {
  padding: 15px 0 1px 15px;
}
.main__master-art {
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}
.main__master-art h4 {
  padding-left: 15px;
}
.main__master-art img {
  height: 60px;
}
.main__contacts {
  padding-top: 40px;
  padding-bottom: 68px;
}
.main__contacts h2 {
  padding-bottom: 22px;
}
.main__contacts .main__form_input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0 16px 23px;
  border: none;
  background-color: #e9e9e9;
}
.main__contacts .main__form_input:nth-child(5) {
  padding-bottom: 116px;
}
.main__contacts .main__form fieldset {
  position: relative;
  padding: 0 0 0 1.9rem;
  border: none;
}
.main__contacts .main__form fieldset .label_input {
  top: 35%;
  left: 52px;
}
.main__contacts .main__form legend {
  padding-top: 0;
  padding-bottom: 0;
}
.main__contacts .main__form p {
  display: inline-block;
  padding-bottom: 14px;
}
.main__contacts_filling {
  display: flex;
}
.main__contacts_filling img {
  max-width: none;
}

.label_input {
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 9px;
  color: #ff3030;
}
#name + .label_input {
  top: 19%;
  left: 52px;
}

.inner {
  width: 50%;
}
.inner img {
  padding-top: 63px;
}
.inner:first-child {
  padding-top: 31px;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 30px;
}

h4 a {
  font-family: "TTFirsNeue", Arial, sans-serif;
  font-weight: 400;
}

footer {
  min-height: 106px;
  margin-bottom: 0;
  color: #fff;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer figure {
  width: 37%;
}
footer blockquote {
  margin-bottom: 2.5%;
}
footer figcaption {
  padding-left: 8%;
  color: #666;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.map {
  position: relative;
  width: 850px;
  height: 460px;
}

.label {
  position: absolute;
  top: 94px;
  right: 224px;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-color: #ff6e30;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 0;
  height: 460px;
  background-color: #202020;
  opacity: 85%;
  transition: width 0.7s linear;
}
.overlay h3, .overlay .tel {
  color: #fff;
}
.overlay h3 {
  font-family: "TTFirsNeue", Arial, sans-serif, Arial, Helvetica, sans-serif;
}

.tel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 190px;
  height: 22px;
  font-family: "TTFirsNeue", Arial, sans-serif, Arial, Helvetica, sans-serif;
}
.tel:visited {
  color: #ce4307;
}
.tel:visited svg path {
  fill: #ce4307;
}
.tel:hover {
  color: #ff6e30;
}
.tel:hover svg path {
  fill: #ff6e30;
}
.tel:active {
  color: #fff;
  background-color: #bc572b;
}
.tel:active svg path {
  fill: #fff;
}
.tel span {
  display: inline-block;
  top: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background-image: url("../img/close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

address {
  z-index: 1000;
  color: #cacaca;
  font-style: normal;
}

.info {
  width: 386px;
  padding-left: 11.63%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.info h3 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 19px;
}
.info__p {
  line-height: 28px;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@media (max-width: 1025px) {
  p {
    text-overflow: ellipsis;
  }
  .container {
    width: 94vw;
  }
  .header__logo {
    margin-right: -8%;
  }
  .header__logo img {
    width: 166px;
    height: 26.79px;
  }
  .main__preview {
    grid-template-areas: "block title title" "block first second";
    grid-template-columns: calc(50% - 30px) repeat(2, calc(25% - 15px));
    grid-template-rows: 401px 186px;
    height: 100%;
  }
  .main__img {
    width: 100%;
    height: 616px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__box {
    width: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 332px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__img2, .main__img3 {
    width: 218px;
    height: 186px;
  }
  .main__figcaption {
    left: 28px;
  }
  .main__title {
    width: 466px;
  }
  .main__title-mc {
    font-size: 34px;
  }
  .main__image {
    width: 466px;
    height: 395px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__fieldset {
    margin-right: 30px;
  }
  .main__input {
    width: 342px;
    margin-bottom: 20px;
  }
  .main__contacts_filling img {
    width: 590px;
  }
  .main__master_block {
    grid-template-areas: "img mc" "block block";
    grid-template-columns: 1fr;
    grid-template-rows: 65% 30%;
  }
  .main__master_block img {
    grid-area: img;
  }
  .main__art-mc {
    grid-area: mc;
  }
  .main__master-art img {
    width: 93px;
    height: 66px;
  }
  .main__master_block2 {
    display: grid;
    grid-area: block;
    grid-template-areas: "ar1 ar3" "ar2 ar4";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main__master-art:nth-child(1) {
    grid-area: ar1;
  }
  .main__master-art:nth-child(2) {
    grid-area: ar2;
  }
  .main__master-art:nth-child(3) {
    grid-area: ar3;
  }
  .main__master-art:nth-child(4) {
    grid-area: ar4;
  }
  .content {
    grid-template-areas: "art1 art2 art3 art5" "art4 art4 art4 art6";
    grid-template-columns: 1fr 1fr 1fr 300px 250px;
    grid-template-rows: 46.5% 47%;
  }
  .content .article7 {
    display: none;
  }
  .content .article5 .swiper__article-img {
    -o-object-position: 53%;
       object-position: 53%;
  }
  .content .article5 .hashtag {
    right: 10px;
  }
  .content .swiper__caption {
    width: 80%;
  }
  .content1 {
    grid-template-areas: "art4 art4 art4 art6 art7" "art1 art2 art3 art5 art5";
    grid-template-columns: 1fr 1fr 1fr 300px 300px;
    grid-template-rows: 46.5% 50%;
  }
  .content1 .article5 .swiper__article-img {
    -o-object-position: 80%;
       object-position: 80%;
  }
  .content1 .article5 .hashtag {
    right: 339px;
  }
  .content1 .swiper__caption {
    width: 41%;
  }
  .content2 {
    width: 56.127rem;
  }
  .content2 img {
    width: 218px;
    height: 184px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content2 .lead__wrap {
    padding-top: 27px;
    padding-right: 28px;
  }
  .content2 .lead__text {
    padding-bottom: 10px;
  }
  .content3 {
    width: 36.127rem;
    row-gap: 9%;
  }
  .content3 .lead {
    flex-direction: column;
  }
  .content3 .lead img {
    width: 238px;
    height: 110px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content3 .lead__wrap {
    padding-left: 0;
  }
  .swiper__caption-link {
    padding: 5px 17px;
  }
  .swiper__caption-title {
    font-size: 20px;
  }
  .article5 .swiper__article-img {
    width: 300px;
    height: 295px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .ad__img {
    width: 342px;
    height: 490px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .secondSwiper .swiper-scrollbar {
    width: 64%;
  }
  .works {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .scale {
    width: 90px;
  }
  .lead__excerpt {
    width: 100%;
    font-size: 18px;
    margin-bottom: 3px;
  }
  .label {
    top: 95px;
    right: 94px;
  }
  .info {
    padding-left: 5%;
  }
  .overlay {
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 0;
    bottom: 0;
    margin-bottom: 0;
    transition: height 0.7s linear;
  }
  footer figcaption {
    padding-left: 11%;
  }
}
@media (max-width: 769px) {
  .container {
    width: 93vw;
  }
  .header__social, .menu .header__nav, .contacts .header__tel, .contacts .header__form, .contacts .header__btn {
    display: none;
  }
  .header__list {
    padding: 16px 0;
  }
  .header__btn {
    background-position: bottom;
  }
  .header__form {
    width: 0;
    margin-bottom: 0;
    transform: translateX(-1px);
    transform-origin: right;
    transition: width 0.3s ease-in-out;
  }
  .header__form .close {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%) scale(0.7);
    display: block;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  .menu {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .main__preview {
    grid-template-columns: calc(50% - 24px) repeat(2, calc(25% - 12px));
    grid-template-rows: 291px 133px;
    gap: 24px;
  }
  .main__figcaption {
    top: 50%;
  }
  .main__figcaption p {
    padding-bottom: 10px;
  }
  .main__img {
    width: 100%;
    height: 452px;
  }
  .main__box {
    width: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 228px;
  }
  .main__img2, .main__img3 {
    width: 100%;
    height: 133px;
  }
  .main__title {
    width: 381px;
    font-size: 22px;
    bottom: 17px;
  }
  .main__title-mc {
    width: 239px;
  }
  .main__image {
    width: 342px;
    height: 626px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__art-mc p {
    padding-bottom: 50px;
  }
  .main__master-art {
    width: 340px;
  }
  .main__master_block {
    grid-template-rows: 59% 30%;
  }
  .main__contacts .main__form {
    width: 466px;
    height: 445px;
  }
  .main__contacts .main__form fieldset {
    padding-left: 0;
  }
  .mySwiper {
    height: 100%;
  }
  .mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    font-size: 0;
  }
  .content {
    grid-template-areas: "art1 art2 art3" "art5 art5 art5" "art6 art6 art7" "art4 art4 art4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 300px);
  }
  .content .article7 {
    display: block;
  }
  .content .article5 .hashtag {
    right: 10px;
  }
  .content .article5 .swiper__caption {
    width: 27%;
  }
  .content .article4 .swiper__caption {
    width: 50%;
  }
  .article6 .swiper__article-img {
    width: 470px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article7 .swiper__article-img {
    width: 218px;
    height: 156px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content1 .article5 .swiper__caption {
    width: 50%;
  }
  .content1 .article7 .swiper__article-img {
    height: 131px;
  }
  .article {
    position: relative;
  }
  .article4 .swiper__article-img, .article5 .swiper__article-img {
    width: 100%;
  }
  .article1, .article2, .article3, .article1 .swiper__article-img, .article2 .swiper__article-img, .article3 .swiper__article-img {
    width: 218px;
    height: 184px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article1, .article2, .article3 {
    height: 300px;
  }
  .swiper__article-date {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .secondSwiper .swiper-scrollbar {
    width: 57%;
  }
  .ad {
    margin-bottom: 17px;
  }
  .ad__img {
    width: 100%;
    height: 336px;
    -o-object-position: 0 35%;
       object-position: 0 35%;
  }
  .works {
    grid-template-columns: repeat(6, 1fr);
  }
  .main__contacts_filling,
.container-serv {
    flex-direction: column;
  }
  aside {
    margin-bottom: 40px;
  }
  .left-block {
    width: 100%;
  }
  .content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content2 img {
    width: 343px;
    height: 184px;
  }
  .content2 .lead__wrap {
    padding: 10px 0 1px;
  }
  .content3 {
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
  }
  .content3 .lead img {
    width: 342px;
    height: 130px;
  }
  .content3 .lead__excerpt {
    font-size: 19px;
  }
  .lead {
    width: 343px;
    height: auto;
    padding-bottom: 0;
    flex-wrap: wrap;
  }
  .cam {
    width: 332px;
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .map {
    width: 90vw;
    height: 460px;
    margin-bottom: 24px;
  }
  .overlay {
    max-width: 590px;
  }
  .label {
    right: 31%;
  }
  footer .container {
    height: 106px;
  }
  footer figure {
    position: fixed;
    transform: scale(0);
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 90vw;
  }
  header {
    position: relative;
  }
  .header__logo {
    height: 16.45px;
  }
  .header__logo img {
    width: 86.34px;
    height: 16.45px;
  }
  .header__list {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 48px;
  }
  .header__list li {
    padding-bottom: 30px;
  }
  .header__btn {
    width: 20px;
    height: 24.41px;
    transform: scale(0.8);
    background-position: bottom;
  }
  .header__search::-moz-placeholder {
    font-size: 12px;
  }
  .header__search:-ms-input-placeholder {
    font-size: 12px;
  }
  .header__search::placeholder {
    font-size: 12px;
  }
  .header__nav .close {
    display: block;
    transform: scale(0.7);
    z-index: 100;
    opacity: 1;
    transition: opacity 0.1s ease;
  }
  .header__nav {
    position: absolute;
    top: 119px;
    left: 0;
    display: none;
    width: 100%;
    height: 541px;
    color: #fff;
    background-color: #202020;
    z-index: 100;
  }
  .header__contacts {
    height: 45px;
  }
  .contacts .header__tel {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  .menu {
    align-items: center;
  }
  .burger {
    display: block;
    width: 20px;
    height: 18px;
    background-image: url("/src/img/burger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }
  .contacts {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .contacts .contacts-wrap {
    display: none;
  }
  .main__preview {
    grid-template-columns: repeat(2, calc(45vw - 15px));
    grid-template-rows: 112.5vw 1fr calc((45vw - 15px) / 1.17);
    grid-template-areas: "block block" "title title" "first second";
    gap: 30px;
  }
  .main__link {
    padding: 12px 22px;
  }
  .main__title-mc {
    font-size: 24px;
  }
  .main__figcaption {
    top: calc(61.875vw - 20px);
  }
  .main__img {
    width: 100%;
    height: 100%;
  }
  .main__img1 {
    width: 100%;
    height: 42.8571428571vw;
  }
  .main__img2, .main__img3 {
    height: calc((45vw - 15px) / 1.17);
  }
  .main__box {
    width: 90vw;
  }
  .main__title {
    width: 100%;
    font-size: 18px;
  }
  .main__parag {
    font-style: 14px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .main__about_container {
    flex-wrap: wrap;
  }
  .main__legend {
    font-size: 18px;
  }
  .main__input {
    width: 100%;
    margin: 10px auto;
    font-size: 14px;
  }
  .main__fieldset {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .main__hashtag {
    top: 15px;
    right: 9px;
  }
  .main__image {
    width: 100%;
    height: auto;
  }
  .main__about_container .inner:first-child, .main__about_container .inner:last-child {
    width: 100%;
    margin-right: 0;
  }
  .main__master_block {
    grid-template-areas: "img" "mc" "block";
    grid-template-columns: 100%;
  }
  .main__contacts_filling img {
    width: 90vw;
  }
  .main__contacts .main__form {
    width: 100%;
  }
  .main__master_block2 {
    grid-template-areas: "ar1" "ar3" "ar2" "ar4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .main__master_block {
    grid-template-rows: auto auto;
    gap: 16px;
  }
  .main__master h3 {
    font-size: 18px;
  }
  .main__art-mc {
    padding-top: 0;
    padding-bottom: 45px;
  }
  .main__art-mc p {
    padding-bottom: 22px;
  }
  .main__master-art img {
    width: 94px;
    height: 71px;
  }
  .main__master-art h4 {
    width: 85%;
  }
  .secondSwiper .swiper-pagination-bullet {
    width: 284px;
    font-size: 14px;
    font-weight: 700;
  }
  .secondSwiper .swiper-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .secondSwiper .swiper-scrollbar {
    display: none;
  }
  .secondSwiper .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1) {
    margin-right: 23px !important;
  }
  .swiper-tag, .content .article5 .hashtag {
    right: 3%;
  }
  .article1, .article2,
.article3, .article1 .swiper__article-img,
.article2 .swiper__article-img,
.article3 .swiper__article-img,
.article6 .swiper__article-img,
.article7 .swiper__article-img {
    width: 90vw;
  }
  .swiper__article-img {
    height: 135vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article6 .swiper__article-img,
.content1 .article7 .swiper__article-img {
    height: 184px;
  }
  h2 {
    font-size: 18px;
  }
  .parag-mc,
.main__link {
    font-size: 14px;
  }
  .hashtag {
    font-size: 0.75rem;
  }
  .inner img {
    padding-top: 45px;
  }
  .content {
    grid-template-areas: "art1" "art2" "art3" "art5" "art6" "art7" "art4";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 273px) 422px repeat(2, 295px) 422px;
  }
  .content .article5 .swiper__caption {
    width: 60%;
  }
  .content1 .article5 .swiper__caption, .content1 .article4 .swiper__caption {
    width: 72%;
  }
  .content2 img, .content3 .lead img {
    width: 279px;
  }
  .content3 {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "lead1" "lead2" "lead3" "lead4" "lead5" "lead6" "lead7" "lead8" "lead9" "lead10";
  }
  .content3 .lead__excerpt {
    font-size: 16px;
  }
  .content3 .lead img {
    height: 102px;
  }
  .swiper__caption, .content1 .swiper__caption {
    top: 47%;
  }
  .swiper__caption-link4 {
    bottom: 35px;
  }
  .article1, .article2, .article3 {
    width: 100%;
    height: 273px;
  }
  .article4 .swiper__article-img, .content .article5 .swiper__article-img {
    height: 100%;
    -o-object-position: 62%;
       object-position: 62%;
  }
  .lead {
    width: 100%;
  }
  .lead__title {
    font-size: 16px;
  }
  .lead__text {
    font-size: 14px;
  }
  .lead__wrap {
    width: 100%;
  }
  .ad__img {
    width: 278px;
    height: 422px;
    -o-object-position: center;
       object-position: center;
  }
  .ad__img-discount {
    top: -322%;
  }
  .ad__text {
    font-size: 30px;
  }
  .ad__subtext {
    font-size: 14px;
  }
  .ad__img-discount {
    position: absolute;
    top: -385%;
    right: -21px;
    transform: scale(0.7);
  }
  .scale {
    width: 124px;
    height: 94px;
  }
  .works {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .cam {
    width: 278px;
    height: 268px;
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .label {
    top: 20%;
    right: 20%;
  }
  .overlay {
    justify-content: center;
    padding: 0 10px;
  }
  .info {
    width: 100%;
  }
  .info h3, .info p {
    padding-bottom: 10px;
  }
  .info h3 {
    padding-top: 0;
    font-size: 18px;
  }
  .info p {
    font-size: 14px;
    line-height: 18px;
  }
  footer {
    height: 185px;
    background-color: transparent;
  }
  footer .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "second" "first";
    width: 100%;
  }
  .logo-block {
    grid-area: first;
    height: 62px;
    background-color: #4a4a4a;
  }
  .logo-block a {
    width: 100%;
  }
  .logo-block p, .logo-block a {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }
  .social-block {
    grid-area: second;
    height: 123px;
    padding: 31px 80px;
    background-color: #202020;
  }
  .social-block p {
    text-align: center;
  }
}
@media (max-width: 387px) and (min-width: 340px) {
  .main__contacts_filling img,
.main .overlay {
    width: 100%;
  }
  #name + .label_input,
#email + .label_input {
    left: 21px;
  }
}/*# sourceMappingURL=style.css.map */